# We ignore the following files:
# 1. Any file that is larger than 100 MB.
# 2. Any file that is smaler than 100 MB, but is larger than 20 MB and is a binary file. For example, all binary trajectory files (.trr and .xtc) in System 2 and 3 are ignored. 
System2/Benchmark/sys2.xtc
System2/Benchmark/validation/sys2.xtc
System2/Test_4/MetaD-EXE/height_0.1/sys2.trr
System2/Test_4/MetaD-EXE/biasf_20/rep_1/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_2/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_3/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_4/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_5/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_6/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_7/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_8/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_9/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_10/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_11/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_12/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_13/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_14/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_15/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_16/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_17/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_18/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_19/HILLS_2D
System2/Test_4/MetaD-EXE/biasf_20/rep_20/HILLS_2D
System3/Test_1/EXE/Fixed/sys3.xtc
System3/Test_1/EXE/Wang-Landau/sys3.xtc
System3/Test_1/EXE/Wang-Landau/rerun_3/sys3.txc
System3/Test_1/EXE/Wang-Landau/rerun_3/sys3.log
System3/Test_1/MetaD-EXE/sys3.xtc
System3/Test_1/MetaD-EXE/HILLS_LAMBDA
System3/Test_2/MetaD-EXE/sys3.xtc
System3/Test_2/MetaD-EXE/HILLS_2D
System3/Benchmark/sys3.xtc
System3/Benchmark/rerun/sys3.xtc
System3/Benchmark/rerun/adjusted/sys3.xtc
System3/Test_1/EXE/Wang-Landau/rerun/sys3.xtc
System3/Test_1/EXE/Wang-Landau/rerun_2/sys3.xtc
